<%- include('header'); -%>

 
<form method="post">

    <table>

        <tr>
            <td> Model Name : </td>
            <td>
                <input type="text" placeholder="Enter Name" name="boat_name" value="<%= boats.boat_name %>" required> </td>
        </tr>
        <tr>
            <td> ManufractureYear :</td>
            <td>
                <input type="text" placeholder="ManufractureYear " name="boat_manufractureYear" value="<%= boats.boat_manufractureYear %>" required>
            </td>
        </tr>
        <tr>
            <td>Price :</td>
            <td>
                <input type="text" placeholder="Enter Price" name="boat_price" value="<%= boats.boat_price %>" required>
            </td>
        </tr>
        <tr>
            <td>SailBoat :</td>
            <td>
                <input type="text" placeholder="Enter Yes/No" name="boat_sail" value="<%= boats.boat_sail %>" required>
            </td>
        </tr>

        <tr>
            <td>Motor :</td>
            <td>
                <input type="text" placeholder="Enter Yes/No" name="boat_motor" value="<%= boats.boat_motor %>" required>
            </td>
        </tr>

        <!-- <tr>
            <td>Image :</td>
            <td>
                <input type="text" placeholder="Enter Image" name="boat_image" value="<%= boats.boat_image %>" required>
            </td>
        </tr> -->

        <tr>

            <td>
                <input type="submit">
                  <input type="button" value="Display" onclick="window.location='display';">
            </td>
        </tr>
    </table>

</form>

 