
<%- include('header'); -%>
<table>
        <tbody>
        <tr>
                        <td>ID</td>
                        <td>:</td>
                        <td><%= boats._id %></td>
        </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= boats.boat_name %></td>
          </tr>
          <tr>
            <td>ManufractureYear</td>
            <td>:</td>
            <td><%= boats.boat_manufractureYear %></td>
          </tr>
          <tr>
            <td>Price</td>
            <td>:</td>
            <td><%= boats.boat_price %></td>
          </tr>

          <tr>
            <td>SailBoat</td>
            <td>:</td>
            <td><%= boats.boat_sail %></td>
          </tr>

          <tr>
            <td>Motor</td>
            <td>:</td>
            <td><%= boats.boat_motor %></td>
          </tr>

          <tr>
            <td>Image</td>
            <td>:</td>
            <td><%= boats.boat_image %></td>
          </tr>
           
        </tbody>
      </table>